<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.asset_management.dao.BrandMapper">
     <select id="getBrandByCondition" resultType="java.util.HashMap">
        SELECT BRAND_ID,BRAND_NAME,BRAND_CODE,STATUS FROM brand
        <where>
            <if test="brandCode != null and brandCode != ''">
                AND BRAND_CODE = #{brandCode}
            </if>
            <if test="brandName != null and brandName != ''">
                AND BRAND_NAME = #{brandName}
            </if>
            <if test="status != null">
                AND STATUS = #{status}
            </if>
        </where>
    </select>
</mapper>
