<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.asset_management.dao.SectionMapper">
    <select id="getSectionByCondition" resultType="java.util.HashMap">
        SELECT * FROM section
        <where>
            <if test="sectionCode != null and sectionCode != ''">
                AND SECTION_CODE = #{sectionCode}
            </if>
            <if test="sectionName != null and sectionName != ''">
                AND SECTION_NAME = #{sectionName}
            </if>
            <if test="status != null">
                AND STATUS = #{status}
            </if>
        </where>
    </select>
</mapper>
